<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leaflet Map Kikin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kikin's Leaflet</ion-title>
      <!-- Dropdown di pojok kanan -->
    <ion-buttons slot="end">
      <ion-select class="dropdown-map" (ionChange)="onBasemapChange($event)" interface="popover"
        placeholder="Select basemap">
        <ion-select-option value="topo-vector">Topographic</ion-select-option>
        <ion-select-option value="streets">Streets</ion-select-option>
        <ion-select-option value="hybrid">Hybrid</ion-select-option>
        <ion-select-option value="terrain">Terrain</ion-select-option>
        <ion-select-option value="satellite">Satellite</ion-select-option>
      </ion-select>
    </ion-buttons>
    
    </ion-toolbar>
  </ion-header>

  <div id="mapId" style="height: 100%; width: 100%;" [fullscreen]="false"> </div>
</ion-content>
